body{
    /*background-image: url("barcode.jpg");
    background-size: 100px 100px;*/
}

#par{
    border: 2px solid blue;
    display:-webkit-box;
    -webkit-box-orient: horizontal;
    /* -webkit-box-direction: reverse; Reverses the order of the boxes*/
    -webkit-box-pack: center; /*How the children are aligned in the parent*/
    height: 300px;
    -webkit-box-align: center;
}


#kid1{
    border: 2px solid red;
    background: blue;
    padding: 20px;
    margin: 10px;
    outline: 3px solid black;
    -webkit-box-ordinal-group: 3;
    -webkit-box-flex: 2;
    height: 100px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: rgb(100, 100, 100) 8px 8px 8px;
    /*transform: scale(2) rotate(10deg) skew(10deg) translate(10px, 10px);*/
}


div:hover{
    transition: transform 0.2s;
    transform: scale(1.5);
}
div:not(:hover){
    transition: transform 0.2s;
}

#kid2{
    border: 2px solid red;
    background: -webkit-radial-gradient(center, circle, red 0%, orange 90%);
    padding: 20px;
    margin: 10px;
    -webkit-box-ordinal-group: 1;
    min-width: 80px;
    -webkit-box-flex: 2;
    height: 100px;
}

#kid3{
    border: 2px solid red;
    background: red;
    padding: 20px;
    margin: 10px;
    -webkit-box-ordinal-group: 4;
    -webkit-box-flex: 1;
    height: 100px;
    filter: drop-shadow(10px 10px 4px rgba(100, 100, 100, 70%)); /*Works with custom shapes*/
}

#kid4{
    border: 2px solid red;
    background: -webkit-linear-gradient(45deg, black, white);
    padding: 20px;
    margin: 10px;
    -webkit-box-ordinal-group: 2;
    -webkit-box-flex: 1;
    height: 100px;
    box-shadow: 10px 10px 5px rgb(100, 100, 100); /*works in IE, can only draw shadows as boxes*/
}

#text{
    font: bold 30px Century Gothic;
    text-shadow: rgba(0, 0, 0, 30%) 3px 3px 5px;
    display: inline-block;
}

@media (max-width: 800px){
    * {
        background: green;
    }
}

/*
Media queries
Grid layouts
*/